# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import json
%matplotlib inline 

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
weather_df = pd.read_csv('weather.csv')
weather_df.drop(columns = ["Unnamed: 0"])

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,Arraial do Cabo,-22.97,-42.03,22.46,80,0,1.56
1,Punta Arenas,-53.15,-70.92,9.00,66,94,15.90
2,Yangjiang,21.85,111.97,27.22,64,100,4.56
3,Sovetskiy,61.36,63.58,5.08,83,100,4.81
4,Baghdad,33.34,44.40,21.00,60,98,4.10
...,...,...,...,...,...,...,...
563,Japura,-0.32,102.35,32.33,57,60,1.23
564,Lagoa Vermelha,-28.21,-51.53,12.03,69,0,1.32
565,Yerköy,39.64,34.47,10.61,66,100,0.26
566,Skibbereen,51.55,-9.27,9.00,76,40,4.10
567,Clifton Springs,-38.15,144.57,17.78,77,90,4.60

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key=g_key)

In [4]:
locations = weather_df[['Latitude','Longitude']]
humidity = weather_df['Humidity'].astype(float)
fig = gmaps.figure()

heatmap_layer = gmaps.heatmap_layer(locations, weights=humidity,
                                   dissipating=False, max_intensity=5,
                                   point_radius=1)

fig.add_layer(heatmap_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [5]:
weather_df2 = weather_df.drop(columns=['Unnamed: 0'])
weather_df3 = weather_df2.dropna()
#Find cities complied to wind speed < 10, cloudiness = 0, 70F to 80F = 21.11Celcius to 26.67Celcius
weather_df4 = weather_df3.loc[weather_df3['Wind Speed'] < 10]
weather_df5 = weather_df4.loc[weather_df4['Cloudiness'] == 0]
weather_df6 = weather_df5.loc[weather_df5['Max Temperature'] < 26.67]
weather_df7 = weather_df6.loc[weather_df6['Max Temperature'] > 21.11]
weather_df7

,City,Latitude,Longitude,Max Temperature,Humidity,Cloudiness,Wind Speed
0,Arraial do Cabo,-22.97,-42.03,22.46,80,0,1.56
11,Carolina,18.38,-65.96,26.11,67,0,3.19
15,Atar,20.52,-13.05,22.26,18,0,4.10
34,São Filipe,14.90,-24.50,22.48,78,0,5.25
100,Cairo,30.06,31.25,23.00,25,0,4.10
107,Brufut,13.38,-16.75,24.00,53,0,2.60
121,Aswān,24.09,32.91,23.00,27,0,4.10
226,Ladário,-19.00,-57.60,23.74,58,0,0.83
317,Sohag,26.56,31.69,23.00,18,0,1.50
415,Ikauna,27.55,81.97,25.72,49,0,6.34
471,Taoudenni,22.68,-3.98,26.51,15,0,4.25
476,Tessalit,20.20,1.01,24.80,13,0,3.84
535,Sabha,27.04,14.43,22.32,17,0,4.31

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:
hotel_df = pd.DataFrame(weather_df7, columns = ['City','Latitude','Longitude'])
hotel_df['Hotel'] = ''
hotel_df

                City  Latitude  Longitude Hotel
0    Arraial do Cabo    -22.97     -42.03
11          Carolina     18.38     -65.96
15              Atar     20.52     -13.05
34        São Filipe     14.90     -24.50
100            Cairo     30.06      31.25
107           Brufut     13.38     -16.75
121            Aswān     24.09      32.91
226          Ladário    -19.00     -57.60
317            Sohag     26.56      31.69
415           Ikauna     27.55      81.97
471        Taoudenni     22.68      -3.98
476         Tessalit     20.20       1.01
535            Sabha     27.04      14.43

In [9]:
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json?parameters"

In [13]:
hotel_list = []
for i in hotel_df.index:
    lat = hotel_df['Latitude'][i]
    
    lng = hotel_df['Longitude'][i]
   
    params = {
        "location": f"{lat},{lng}",
        "type": "lodging",
        "radius": 5000,
        "key": g_key}
    response = requests.get(base_url, params)
    
    #convert response to json
    hotel_data = response.json()
    #print(response.url)
    #print(json.dumps(hotel_data, indent = 4))
    
    try:
        print(hotel_data['results'][0]['name'])  
        hotel_list.append(hotel_data['results'][0]['name'])
    
    except:
        hotel_list.append('N/A')
        print('Hotel not found')

Pousada Porto Praia
Motel Fantasy Star
Oumou Elghoura
Tortuga B&B
Four Seasons Hotel Cairo at Nile Plaza
Sheraton Gambia Hotel Resort & Spa
Nuba Nile
Hotel Fazenda 4 cantos
Civil Registry - Sohag 1
लोनियन पुरवा चौराहा
Hotel not found
Hotel not found
محطة ام الارانب -سبها مواصلات

In [14]:
hotel_df['Hotel'] = hotel_list

In [15]:
hotel_df

,City,Latitude,Longitude,Hotel
0,Arraial do Cabo,-22.97,-42.03,Pousada Porto Praia
11,Carolina,18.38,-65.96,Motel Fantasy Star
15,Atar,20.52,-13.05,Oumou Elghoura
34,São Filipe,14.90,-24.50,Tortuga B&B
100,Cairo,30.06,31.25,Four Seasons Hotel Cairo at Nile Plaza
107,Brufut,13.38,-16.75,Sheraton Gambia Hotel Resort & Spa
121,Aswān,24.09,32.91,Nuba Nile
226,Ladário,-19.00,-57.60,Hotel Fazenda 4 cantos
317,Sohag,26.56,31.69,Civil Registry - Sohag 1
415,Ikauna,27.55,81.97,लोनियन पुरवा चौराहा
471,Taoudenni,22.68,-3.98,N/A
476,Tessalit,20.20,1.01,N/A
535,Sabha,27.04,14.43,محطة ام الارانب -سبها مواصلات

In [22]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel}</dd>
<dt>City</dt><dd>{City}</dd>

</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]

In [23]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations)
fig.add_layer(markers)
# Display Map
fig

Figure(layout=FigureLayout(height='420px'))